.pagButt{
    width: 40px;
    height: 40px;
    border: 0px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-right: 12px;
}:disabled{
    cursor: auto;
 }
.pagButtActive{
    width: 40px;
    height: 40px;
    border: 0px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-right: 12px;
    border-radius: 6px;
    border: 2px solid #A85757;
    color: #A85757;
    cursor: auto;
}
.tableControlsContainer{
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectContainer{
    margin-left: auto;
    margin-right: 20px;
}
select{
    height: 40px;
    width: 76px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #514A4A;
    color: white;
    text-align: center;

}
