
.table{
    width:100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    font-weight: 600;
}

.iconHeader{
    width: 7%;

}

.recordContainer{
    height: 68px;
    border-bottom: 1px solid #F2EEEE;
}

.headersContainer{
    background: #F6F4F4;
    height: 44px;
}

th, td{
    padding-left: 20px;
}
.buttonTd{
    text-align: right;
}
.changeButton{
    background: url("../../../public/pen_Icon.png") no-repeat center;
    border: 1px solid #F2EEEE;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.portal{
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    animation: portalFade 0.5s forwards;

}
@keyframes portalFade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


